<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <a href='./collection'>View the Collection</a>
        <a href= './music'>Manage your Collection</a>

    </header>

    <div>
        {{#comic}}

        {{/comic}}
    </div>
</body>
</html>